@model OrderApplication.Services.OrderDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderHistoryDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductID)
        </dd>
         <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Total)
        </dd>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
         <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
                 <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
                 <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
                 <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        </dd>
                 <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        </dd>
                 <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        </dd>
                 <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>
        </dd>
                 <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingDate)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
